.movies {
  max-width: 1280px;
  &__more {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  &__button {
    margin: 50px auto 80px;
    min-width: 240px;
    height: 36px;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      background-color: #e8e8e8;
    }
  }
  &__not-found {
    text-align: center;
  }
}
