.about-project {
  background-color: #fafafa;
  margin-top: 110px;
  margin-bottom: 110px;
  letter-spacing: -0.04em;

  &__title {
    margin-left: 70px;
    text-align: left;
    margin-bottom: 23px;
    text-align: left;
    padding: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 23px;
  }

  &__info {
    border-top: 1px solid #000000;
    margin: 0 70px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__text {
    text-align: left;
    max-width: 550px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-left: 30px;
    }
  }

  &__header {
    text-align: left;
    margin: 0;
    max-width: 600px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  &__about {
    margin: 26px auto 100px;
    max-width: 460px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
  }

  &__button {
    width: 90px;
    height: 60px;
    background-color: #e8e8e8;
    border-radius: 10px;
    gap: 10px;
  }
  &__timeline {
    margin: 0 70px 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 36px auto;
    row-gap: 14px;
    justify-content: center;
  }
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3456f3;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  &__subtitle {
    color: #a0a0a0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

@media (max-width: 1110px) {
  .about-project {
    margin-top: 90px;
    margin-bottom: 90px;
    &__timeline {
      margin: 0 50px 0;
    }
  }
}
@media (max-width: 768px) {
  .about-project {
    &__title {
      margin-left: 50px;
      letter-spacing: -0.04em;
    }
    &__info {
      margin: 0 50px 0;
    }
    &__text {
      margin-top: 70px;
    }
    &__about {
      margin-bottom: 93px;
    }
  }
}

@media (max-width: 550px) {
  .about-project {
    margin-top: 70px;
    margin-bottom: 70px;
    &__title {
      margin-left: 14px;
      font-size: 18px;
      line-height: 21.78px;
    }
    &__info {
      margin: 0 14px 0;
      flex-direction: column;
    }
    &__header {
      font-size: 18px;
      line-height: 21.78px;
    }
    &__text {
      margin-top: 60px;
      margin-bottom: 56px;
      &:last-child {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 60px;
      }
    }
    &__about {
      margin: 16px auto 0;
      font-size: 11px;
      line-height: 16px;
    }
    &__timeline {
      margin: 0 14px 0;
    }
    &__right {
      font-size: 11px;
      line-height: 13.31px;
    }
    &__left {
      font-size: 11px;
      line-height: 13.31px;
    }
    &__subtitle {
      font-size: 11px;
      line-height: 12.74px;
    }
  }
}
