.header {
  max-width: 1280px;
  background-color: #dddee3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 18px 70px 0;
  &_hide {
    display: none;
  }
  &_back {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    background-color: #fafafa;
  }
  &_back_main {
    background-color: #dddee3;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 38px;
    height: 38px;
  }
  &__link {
    color: #000000;
    text-decoration: none;
    &:visited {
      color: #000000;
    }
    &:last-child {
      color: white;
      margin: 0;
    }
  }
  &__link-button {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 32px;
    background-color: #3456f3;
    border-radius: 3px;
    color: white;
    &:visited {
      color: white;
    }
  }
}

@media (max-width: 1110px) {
  .header {
    &__link-button {
      margin-left: 14px;
      width: 54px;
      height: 26px;
    }
  }
}
@media (max-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 320px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 10px;
  }
}
