.register {
  margin: auto;
  max-width: 396px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__container {
    width: 396px;
    display: flex;
    flex-direction: column;
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 232px;

    width: 396px;
  }
  &__logo {
    margin-top: 70px;
    width: 38px;
    height: 38px;
    background-image: url("../../images/logo.svg");
  }
  &__title {
    text-align: left;
    color: #000000;
    margin: 40px 0 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    max-width: 396px;
  }
  &__button {
    color: white;
    background-color: #3456f3;
    max-width: 396px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 126px;
    border: 1px;
    margin-bottom: 15px;
    border-radius: 3px;
  }
  &__button_disabled {
    background-color: #8f93a5;
  }

  &__button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  &__error {
    text-align: left;
    max-width: 396px;
    margin-top: 6px;
    margin-bottom: 8px;
    padding: 0;
    min-height: 12px;
  }
  &__error_visible {
    color: #ff0000;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }

  &__label {
    margin-left: 2px;
    text-align: left;
    margin-bottom: 5px;
    color: #a0a0a0;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
  &__input {
    background-color: transparent;
    border: none;
    color: black;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    // margin-bottom: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 396px;
  }
  &__input:focus {
    border-bottom: 1px solid #3456f3;
    outline: 1px solid transparent;
  }
  &__signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #a0a0a0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
  }
  &__signup-link {
    color: #3456f3;
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  .register {
    &__logo {
      margin-top: 232px;
    }
  }
}

@media (max-width: 550px) {
  .register {
    align-items: center;
    &__title {
      text-align: center;
      color: #000000;
      margin: 50px 0 80px;

      max-width: 282px;
    }
    &__form {
      max-width: 260px;
    }
    &__logo {
      margin-top: 56px;
    }
    &__signup {
      font-size: 12px;
      line-height: 14.52px;
    }
    &__button {
      margin-top: 211px;
    }

    &__signup {
      margin-bottom: 30px;
    }
  }
}
